{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Django storage top page</title>
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        <!-- <script type="text/javascript" src="{% static 'js/sample.js' %}"></script> -->
    </head>
    <body>
        <h1 id="title">Django storage top page</h1>
        <table>
            <thead>
                <tr>
                    <th>ファイル名</th>
                    <th>アップロード日時</th>
                </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.upload_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <button type="button" id="all_download">全ダウンロード</button>
        </div>
        <div>
            <a id="upload" href="{% url 'upload' %}">アップロードページに移動</a>
        </div>
    </body>
</html>
