{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Django storage upload page</title>
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        <!-- <script type="text/javascript" src="{% static 'js/sample.js' %}"></script> -->
    </head>
    <body>
        <h1 id="title">Django storage upload page</h1>
        <div>
        <a id="index" href="{% url 'index' %}">トップページに移動</a>
        </div>
    </body>
</html>
